/.vs/WpfAnimation/FileContentIndex/*.vsidx
/.vs/WpfAnimation/FileContentIndex/*.lock
/.vs/WpfAnimation/v17/*.suo
/WpfAnimation/bin/Debug/netcoreapp3.1/*.dll
/WpfAnimation/bin/Debug/netcoreapp3.1/*.pdb
/WpfAnimation/bin/Debug/netcoreapp3.1/*.json
/WpfAnimation/bin/Debug/netcoreapp3.1/*.exe
/WpfAnimation/bin/Debug/netcoreapp3.1/runtimes/win-x64/lib/netcoreapp3.1/*.dll
/WpfAnimation/bin/Debug/netcoreapp3.1/runtimes/win-x86/lib/netcoreapp3.1/*.dll
/WpfAnimation/obj/Debug/netcoreapp3.1/*.cs
/WpfAnimation/obj/Debug/netcoreapp3.1/*.baml
/WpfAnimation/obj/Debug/netcoreapp3.1/*.cache
/WpfAnimation/obj/Debug/netcoreapp3.1/*.editorconfig
/WpfAnimation/obj/Debug/netcoreapp3.1/*.BuildWithSkipAnalyzers
/WpfAnimation/obj/Debug/netcoreapp3.1/*.CopyComplete
/WpfAnimation/obj/Debug/netcoreapp3.1/*.txt
/WpfAnimation/obj/Debug/netcoreapp3.1/*.dll
/WpfAnimation/obj/Debug/netcoreapp3.1/*.resources
/WpfAnimation/obj/Debug/netcoreapp3.1/*.pdb
/WpfAnimation/obj/Debug/netcoreapp3.1/*.lref
/WpfAnimation/obj/Debug/netcoreapp3.1/*.exe
/WpfAnimation/obj/*.json
/WpfAnimation/obj/*.props
/WpfAnimation/obj/*.targets
/WpfAnimation/obj/*.cache
/.vs/ProjectEvaluation/*.v2
/.vs/WpfAnimation/DesignTimeBuild/*.v2
/WpfAnimation/bin/Debug/netcoreapp3.1/temp/1/*.png
/WpfAnimation/obj/Debug/netcoreapp3.1/*.json
